<ion-content>
  <div class="container">

    <h2>Acessar</h2>

    <div class="field-holder">
      <ion-item>
        <ion-label position="stacked">E-mail</ion-label>
        <ion-input [(ngModel)]="email" name="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Senha</ion-label>
        <ion-input [(ngModel)]="password" name="password" type="password"></ion-input>
      </ion-item>
    </div>

    <ion-button color="primary" expand="block" (click)="login()">Entrar</ion-button>
    <ion-button color="secondary" expand="block" (click)="navigateRegister()">Cadastrar</ion-button>
  </div>
</ion-content>
