<div class="head-spacer"></div>

<ion-content class="bg-gray" [fullscreen]="true">
  <div class="post-list">
    <div class="post-card" *ngFor="let post of postList">
      <div class="post_topbar">
        <div class="usy-dt">
          <div class="usy-name">
            <h3>{{ post.user.first_name + ' ' + post.user.last_name }}</h3>
          </div>
        </div>
      </div>  
      <div class="post-text">
        <p>
          {{ post.post }}
        </p>
      </div>
      <div class="post-comment">
        <ion-item>
          <ion-input placeholder="Adicionar comentário" class=""></ion-input>
        </ion-item>
        <h6>Comentar</h6>
      </div>
      <div class="post_bottom">
        <div class="comments" *ngFor="let comment of post.comments">
          <h6>{{ comment.user.first_name + ' ' + comment.user.last_name }}</h6>
          <p>{{ comment.comment }}</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>
